<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Petitions</title>
</head>
<body>
<h1>All Petitions</h1>
<table>
    <tr>
       <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="petition : ${petitions}">
        <td th:text="${petition.name}"></td>
        <td th:text="${petition.email}"></td>
        <td>
            <button type="submit">View Details</button>
            <a th:href="@{'/petition/' + ${petition.id}}">View Details</a>
        </td>
    </tr>
</table>
</body>
</html>
